CANVAS_URL="https://<your-domain>.instructure.com"
CANVAS_API="<your-key>"

CANVAS_LOCAL_ID="canvas"
CANVAS_URL="https://canvas.instructure.com"
CANVAS_API="7~LFW2Wa7WvNXE6hVNua3YQL3Ca2eLm4aFBH2ncaX74G4h8kMh862KBhMKDC989Bh6"
